/* frame */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
/* className */
.animate-text-move {
  animation: slideLeft 1s forwards;
}

.animate-letter-fade {
  display: inline-block;
  animation: fadeIn 0.5s forwards;
}

.animate-slide-up {
  animation: slideUp 1s forwards;
}

.animate-blink {
  animation: blink 3s infinite;
}
