/* frame */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft10px {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes slideUp20px {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* className */
.animate-fade-in {
  animation: fadeIn 1s forwards;
}

.animate-text-move {
  animation: slideLeft10px 1s forwards;
}

.animate-letter-fade {
  display: inline-block;
  animation: fadeIn 0.5s forwards;
}

.animate-slide-up {
  animation: slideUp20px 1s forwards;
}

.animate-blink {
  animation: blink 3s infinite;
}

.animate-op-up {
  transition: opacity 0.3s ease;
}
.animate-op-up:hover {
  opacity: 0.5;
}

.animate-focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 1s ease-out forwards;
  animation: focus-in-expand-fwd 1s ease-out forwards;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

.animate-scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s ease-out forwards;
  animation: scale-in-hor-center 0.5s ease-out forwards;
}
