@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mj;
  src: url("./assets/fonts/NanumMyeongjo.otf");
}

@font-face {
  font-family: mjBold;
  src: url("./assets/fonts/NanumMyeongjoBold.otf");
}

@font-face {
  font-family: mjExBold;
  src: url("./assets/fonts/NanumMyeongjoExtraBold.otf");
}

@font-face {
  font-family: goLight;
  src: url("./assets/fonts/NanumSquareL.otf");
}

@font-face {
  font-family: go;
  src: url("./assets/fonts/NanumSquareR.otf");
}

@font-face {
  font-family: goBold;
  src: url("./assets/fonts/NanumSquareB.otf");
}

/* customize CSS */
.flexRowCenter {
  @apply flex items-center justify-center;
}
.flexColumn {
  @apply flex flex-col items-center justify-center;
}

.custom-cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  background-color: orange;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

body {
  cursor: none;
}
