@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mj;
  src: url("./assets/fonts/ChosunSm.TTF");
}

@font-face {
  font-family: mjBold;
  src: url("./assets/fonts/ChosunKm.TTF");
}

@font-face {
  font-family: go;
  src: url("./assets/fonts/ChosunSg.TTF");
}
